body {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .input-grid,
    .display-tasks {
      display: grid;
      grid-template-columns: 300px 200px 150px 180px;
      column-gap: 20px;
      row-gap: 25px;
      align-items: center;
    }

    .display-tasks {
      margin-top: 20px;
      align-items: center;
    }

    .todo-input {
      height: 30px;
    }

    .todo-date {
      height: 32px;
    }

    .add-todo {
      color: white;
      border: none;
      background-color: green;
      cursor: pointer;
      height: 34px;
    }

    .delete-button {
      border: none;
      color: white;
      background-color: rgb(161, 2, 2);
      padding: 12px 14px;
    }

    .task-status-btn {
      border: none;
      height: 39px;
    }
